{% extends 'base.html.twig' %}

{% block title %}Agendas index{% endblock %}

{% block body %}
    <h1>Agendas index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Title</th>
                <th>Date</th>
                <th>Place</th>
                <th>Content</th>
                {# <th>CreateDate</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agenda in agendas %}
            <tr>
                {# <td>{{ agenda.id }}</td> #}
                <td>{{ agenda.title }}</td>
                <td>{{ agenda.date }}</td>
                <td>{{ agenda.place }}</td>
                <td>{{ agenda.content }}</td>
                {# <td>{{ agenda.createDate ? agenda.createDate|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_agendas_show', {'id': agenda.id}) }}">show</a>
                    <a href="{{ path('app_agendas_edit', {'id': agenda.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agendas_new') }}">Create new</a>
{% endblock %}
